@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Custom Scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(155, 114, 255, 0.4);
        border-radius: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(155, 114, 255, 0.7);
    }
    
    /* Remove default dropdown styling for select elements on webkit */
    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    /* Solid background options for standard selects */
    select option {
        background-color: #0f172a; /* slate-900 */
        color: white;
    }
}
